$color_1: gray;
$color_2: #616161;
$background-color_1: #212121;

@media screen and (min-width: 480px) {
	.content {
		margin: 20px;
		padding: 32px;
		border: #dfdfdf 6px;
		border-style: solid;
		border-radius: 10px;
		background-color: white;
	
	}
	.posts {
		flex-direction: row;
		flex-wrap: wrap;
		gap: 20px;
	}
	section {
		h2 {
			font-size: 26px;
		}
	}
	.hero__title {
		font-size: 40px;
	}
	
}


@media screen and (min-width: 768px) {
	.header{
		justify-content: space-between;
		padding: 0px 50px 0px 50px;
	}
	.header .app-bar__navigation {
		position: static;
		width: 400px;
	  }
	.header .app-bar__navigation ul li {
		display: inline-block;
	  }
	  .header .app-bar__navigation ul  {
		width: 520px;
	  }	
	  .header .app-bar__navigation ul li a {
		display: inline-block;
		width: 120px;
		text-align: right;
		margin: 0;
		background: none;
	  }	
	#drawer_column {
		display: block;
	}
	.content {
		margin: 40px;
		padding: 32px;
		border: #dfdfdf 10px;
		border-style: solid;
		border-radius: 15px;
		background-color: white;
	
	}
	section {
		h2 {
			font-size: 30px;
			padding-bottom: 10px;
		}
	}
	.posts {
		gap: 25px;
	}
	.post-item {
		max-width: 300px;
	}
	.post-item__description{
		font-size: 14px;
	}
	.header__title {
		font-size: 30px;
	}
	.hamburger_menu {
		display: none;
	}
	.nav {
		width: 50%;
		background-color: $background-color_1;
		a {
			font-size: 12px;
			text-decoration: none;
			color: $color_1;
			&:hover {
				text-decoration: underline;
				color: $color_2;
			}
		}
	}
	.nav__list {
		text-align: center;
	}
	.nav__item {
		box-sizing: border-box;
		display: inline-block;
		width: 24%;
		text-align: right;
		line-height: 24px;
		text-transform: uppercase;
		a{
			display: inline-block;
			padding: 20px;
		}
	}
	.information{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	.information__image {
		max-width: 600px;
		
	}
	.information__name{
		font-size: 45px;
	}
	.information__address{
		font-size: 20px;
	}
	.information__description{
		font-size: 15px;
	}
	.information-menu__tag{
		width: 250px;
	}
	.review{
		justify-content: center;
	}
	.review-form{
		margin: auto;
		margin-top: 20px;
		width: 60%;
	}
	label{
		margin: auto;
	}
	input[type=text], select {
		width: 60%;
		margin: auto;
	  }
	input[type=submit] {
	  width: 60%;
	  margin: auto;
	}
	.header__title{
		padding: 24px;
		font-size: 3em;
	}
}
@media screen and (min-width: 1200px) {
	section {
		h2 {
			font-size: 35px;
			padding-bottom: 15px;
		}
	}
	.posts{
		gap: 30px;
	}
	.post-item{
		max-width: 330px;
	}
	.ratings{
		font-size: 20px;
	}
	.post-item__city{
		font-size: 20px;
	}
	.post-item__description{
		letter-spacing: 1px;
	}
	.nav__item {
		a {
			display: inline-block;
			padding: 20px;
			font-size: 15px;
		}
	}
	.header__title {
		font-size: 36px;
	}
	.information{
		flex-direction: row;
		gap: 20px;
	}
	.information-text{
		max-width: 50%;
		padding: 20px;
	}

	.information__description{
		margin: auto;
		padding: 0;
		max-width: 85%;
	}
	.information-menu{
		display: flex;
		justify-content: space-evenly;
	}
	.review-title{
		display: none;
	}
	.review-form{
		margin: 0;
		margin-top: 20px;
		width: 60%;
	}
	.review{
		display: flex;
		gap: 50px;
		justify-content: center;
	}
	#review-form__name{
		margin-top: 0;
		margin-bottom: 0;
	}
	#review-form__description{
		margin-top: 0;
		margin-bottom: 0;
	}
input[type=text], select {
	font-size: 20px;
  }

input[type=submit] {
	width: 100%;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	font-size: 12px;
	font-weight: bold;
  }
  
label{
	margin-bottom: 0;
	margin-top: 0;
}



}
